.circle-container {
  position: relative;
  width: 541.68px;
  height: 548.18px;
  border-radius: 50%;

  .center-content {
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: white;

    .center-img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
}

.donut {
  cursor: pointer;
  &.donut-part-1 {
    transform: rotate(0deg);
    background-image: url('../../public/images/myCourses.svg');
    background-size: cover;
    width: 236.5px;
    height: 147.5px;
    left: -4%;
    mask-image: url('../../public/images/myCourses_mask.svg');
    mask-size: cover;
    .text1 {
      font-family: 'Magnolia-Script';
      font-weight: 400;
    }
    .text2 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-1::before,
  &.donut-part-1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/myCourses_mask.svg');
    mask-size: cover;
  }

  &.donut-part-1:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-1:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-1:hover {
    width: 260px;
    height: 160px;
    left: -6%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-2 {
    transform: rotate(0deg);
    background: url('../../public/images/usefulResource.svg');
    background-size: cover;
    width: 195.5px;
    height: 207.5px;
    left: 31%;
    top: 30px;
    mask-image: url('../../public/images/useful_resource_mask.svg');
    mask-size: cover;

    .text1 {
      font-family: 'Magnolia-Script';
      font-weight: 400;
    }
    .text2 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-2::before,
  &.donut-part-2:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/useful_resource_mask.svg');
    mask-size: cover;
  }

  &.donut-part-2:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-2:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-2:hover {
    width: 228px;
    height: 240px;
    top: 2%;
    left: 28%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-3 {
    transform: rotate(-0deg);
    background-image: url('../../public/images/coaching.svg');
    background-size: cover;
    width: 158.18px;
    height: 224.5px;
    left: 40%;
    top: 39%;
    mask-image: url('../../public/images/coaching_mask.svg');
    mask-size: cover;
    .text1 {
      font-family: 'Magnolia-Script';
      font-weight: 400;
    }
    .text2 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-3::before,
  &.donut-part-3:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/coaching_mask.svg');
  }

  &.donut-part-3:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-3:hover {
    width: 175px;
    height: 250px;
    left: 38%;
    top: 36%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-3:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-4 {
    transform: rotate(0deg);
    background-image: url('../../public/images/challenge.svg');
    background-size: cover;
    width: 205.5px;
    height: 180.18px;
    left: 19.5%;
    top: 66%;
    mask-image: url('../../public/images/challenge_mask.svg');
    mask-size: cover;
    h3 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-4::before,
  &.donut-part-4:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/challenge_mask.svg');
    mask-size: cover;
  }

  &.donut-part-4:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-4:hover {
    width: 234px;
    height: 205px;
    left: 16.5%;
    top: 63%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-4:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-5 {
    transform: rotate(0deg);
    background-image: url('../../public/images/support.svg');
    background-size: cover;
    width: 206px;
    height: 180.04px;
    left: -20%;
    top: 66%;
    mask-image: url('../../public/images/support_mask.svg');
    mask-size: cover;
    h3 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-5:hover {
    width: 222px;
    height: 202px;
    left: -21%;
    top: 63%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-5::before,
  &.donut-part-5:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/support_mask.svg');
    mask-size: cover;
  }

  &.donut-part-5:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-5:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-6 {
    transform: rotate(0deg);
    background-image: url('../../public/images/upcomingWorkshops.svg');
    background-size: cover;
    width: 159.72px;
    height: 223.5px;
    left: -32%;
    top: 39%;
    mask-image: url('../../public/images/upcoming_workshop_mask.svg');
    mask-size: cover;
    .text1 {
      font-family: 'Magnolia-Script';
      font-weight: 400;
    }
    .text2 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-6::before,
  &.donut-part-6:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/upcoming_workshop_mask.svg');
    mask-size: cover;
  }

  &.donut-part-6:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-6:hover {
    width: 180px;
    height: 252px;
    left: -32%;
    top: 36%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-6:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }

  &.donut-part-7 {
    transform: rotate(0deg);
    background-image: url('../../public/images/upcomingEvents.svg');
    background-size: cover;
    width: 190px;
    height: 207px;
    left: -30%;
    top: 5%;
    mask-image: url('../../public/images/upcoming_events_mask.svg');
    mask-size: cover;
    .text1 {
      font-family: 'Magnolia-Script';
      font-weight: 400;
    }
    .text2 {
      font-family: 'Montserrat-Regular';
      font-weight: 700;
    }
  }

  &.donut-part-7::before,
  &.donut-part-7:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #274c69;
    mask-image: url('../../public/images/upcoming_events_mask.svg');
    mask-size: cover;
  }

  &.donut-part-7:hover::before {
    background-color: #c1989f;
  }

  &.donut-part-7:hover {
    width: 230px;
    height: 252px;
    left: -35%;
    top: 0%;
    color: rgb(39, 76, 105);
    z-index: 999;
    h3 {
      font-size: 20px;
      font-weight: 600;
      z-index: 999;
      color: #274c69;
    }
  }

  &.donut-part-7:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/images/border-img.svg');
    background-position: top;
    background-repeat: no-repeat;
  }
}

.inner-content {
  &.inner-content-1,
  &.inner-content-2,
  &.inner-content-3,
  &.inner-content-4,
  &.inner-content-5,
  &.inner-content-6,
  &.inner-content-7,
  &.inner-content-1:hover,
  &.inner-content-2:hover,
  &.inner-content-3:hover,
  &.inner-content-4:hover,
  &.inner-content-5:hover,
  &.inner-content-6:hover,
  &.inner-content-7:hover {
    z-index: 999;
  }
}
